OPENAI_API_KEY=your-openai-api-key

CORS_HEADERS=["*"]
CORS_ORIGINS=["http://localhost:3000, http://localhost:8000"]

LIGHTRAG_URL=your-hosted-lightrag-url
LIGHTRAG_API_KEY=your-custom-api-key

# postgres://your-username:your-password@your-host:your-port/your-database
POSTGRES_HOST=your-postgres-host
POSTGRES_PORT=your-postgres-port
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=your-postgres-db
POSTGRES_USERNAME=your-postgres-username

